body {
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98vh;

    font-family: 'Trebuchet MS', sans-serif;
}

img {
    height: 100px;
    transition: 0.08s ease-out;
}

.text {
    transform: translate(0px, 100px);
    text-align: center;
    position: absolute;
}

p {
    color: white;
    font-size: medium;
}

footer {
    position: fixed;
    bottom: 0;
    opacity: 0.05;
}

.spacefruit {
    animation: sime 10s infinite ease-in-out;
    animation-direction: alternate;
    transition: 1s;
}

@keyframes sime {
    0% {padding-bottom: 0px; transform: scale(1);}
    100% {padding-bottom: 10px; transform: scale(0.85);}
}
